<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Title -->
    <title>
      Amazon.com: Online Shopping for Electronics, Apparel, Computers, Books,
      DVDs & more
    </title>
    <!-- Meta Information -->
    <meta
      name="description"
      content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else."
    />
    <meta
      name="keywords"
      content="Amazon, Amazon.com, Books, Online Shopping, Book Store, Magazine, Subscription, Music, CDs, DVDs, Videos, Electronics, Video Games, Computers, Cell Phones, Toys, Games, Apparel, Accessories, Shoes, Jewelry, Watches, Office Products, Sports & Outdoors, Sporting Goods, Baby Products, Health, Personal Care, Beauty, Home, Garden, Bed & Bath, Furniture, Tools, Hardware, Vacuums, Outdoor Living, Automotive Parts, Pet Supplies, Broadband, DSL"
    />
    <meta name="google" content="nositelinkssearchbox" />
    <link rel="canonical" href="https://www.amazon.com/" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      property="og:image"
      content="http://g-ec2.images-amazon.com/images/G/01/social/api-share/amazon_logo_500500._V323939215_.png"
      xmlns:og="http://opengraphprotocol.org/schema/"
    />
    <link
      rel="icon"
      href="{% static 'home/img/amazon-logo-favicon.png' %}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'home/img/amazon-logo-favicon.png' %}"
      type="image/x-icon"
    />
    <meta
      property="og:description"
      content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else."
      xmlns:og="http://opengraphprotocol.org/schema/"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- StyleSheets -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Styles -->
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    </style>
    

    <style>
      .dropdown__country {
        position: relative;
      }

      .dropdown-content__country {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 9999;
        margin-top: 45px;
        margin-left: -5px;
        left: -1px;
        border-radius: 3px;
      }

      .dropdown-content__country a {
        text-decoration: none;
        display: block;
      }

      .dropdown__country:hover .dropdown-content__country {
        display: block;
      }

      .xolo__butt {
        background: #131921;
        color: #fff;
        border-top: 1px solid rgba(225, 225, 225, 0.1) !important;
      }
    </style>
  </head>

  <body>
    <!-- Main Body -->
      {% load cart_tag %}

      <!--Header Of The Page-->
      {% include './main_blocks/header.html'%}

      

      <!--Slider Starts-->
      <div class="home">
        <div class="home__container">
          <a name="slider__link" href="">
            <img class="home__image" name="slider" src="" alt="" />
          </a>
        </div>
      </div>
      <!--Ends Here-->

      <!--Products Start From Here (Simple => Dynamic and will be connected to database later)-->

      <!--Ends Here-->

      <div class="main__body__section">
        <!--Fisrt Row-->
        <div class="home__row" style="margin-top: -140px">
          <div class="product">
            <h2 class="card-heading">Shop By Category</h2>

            <div class="columns-container">
              <div class="first-one">
                <div class="first-product">
                  <div class="image-container">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/computer120x._SY85_CB468850970_.jpg"
                      alt="Computer And Accessories"
                      class="image-product"
                    />
                  </div>
                  <div class="label-container">
                    <p class="label-product">Computer And Accessories</p>
                  </div>
                </div>
                <div class="second-product">
                  <div class="image-container">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/August/DashboardCard/PS4_120X._SY85_CB438749318_.jpg"
                      alt="Video Games"
                      class="image-product"
                    />
                  </div>
                  <div class="label-container">
                    <p class="label-product">Video Games</p>
                  </div>
                </div>
              </div>
              <div class="first-one">
                <div class="first-product">
                  <div class="image-container">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/Baby120X._SY85_CB468850882_.jpg"
                      alt="Baby"
                      class="image-product"
                    />
                  </div>
                  <div class="label-container">
                    <p class="label-product">Baby</p>
                  </div>
                </div>
                <div class="second-product">
                  <div class="image-container">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/Toys120X._SY85_CB468851693_.jpg"
                      alt="Toys & Games"
                      class="image-product"
                    />
                  </div>
                  <div class="label-container">
                    <p class="label-product">Toys & Games</p>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="card-shop-link">Shop now</a>
          </div>

          <div class="product">
            <h2 class="card-heading">AmazonBasics</h2>

            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/July/amazonbasics_520x520._SY304_CB442725065_.jpg"
              alt=""
            />

            <a href="#" class="card-shop-link">Shop now</a>
          </div>

          <div class="product">
            <h2 class="card-heading">Electronics</h2>

            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Electronics_1x._SY304_CB432774322_.jpg"
              alt=""
            />

            <a href="#" class="card-shop-link">Shop now</a>
          </div>

          {% if user.is_authenticated %}
          <div class="product">
            <h2 class="card-heading">More Than 15M Products</h2>

            <button>Shop Here</button>
            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/October/Fuji_D2_45M_en_US_1x._CB418309979_.jpg"
              style="height: auto"
            />
          </div>

          {% else %}
          <div class="product">
            <h2 class="card-heading">Sign in for the best experience</h2>

            <button>Sign In Securly</button>
            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/October/Fuji_D2_45M_en_US_1x._CB418309979_.jpg"
              style="height: auto"
            />
          </div>
          {% endif %}
        </div>
      </div>
      <!--Ends Here-->

      <!--Second Row-->
      <div class="home__row">
        <div class="product">
          <h2 class="card-heading">Start On Holiday List</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/Fuji_Dash_PD_Nonprime__1x._SY304_CB403084762_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>

        <div class="product">
          <h2 class="card-heading">Computer & Accessories</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_PC_1x._SY304_CB431800965_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>

        <div class="product">
          <h2 class="card-heading">Beauty Picks</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Beauty_1x._SY304_CB432774351_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>

        <div class="product">
          <h2 class="card-heading">Get Fit At Home</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/events/GFAH/GWDesktop_SingleImageCard_fitathome_1x._SY304_CB434924743_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>
      </div>
      <!--Ends Here-->

      <!--Second Main Container-->

      <!-- Fist Products List -->
      <div class="products_list_bar">
        <div class="products_list_main">
          <div class="x__product_labels">
            <h2 class="x__product__title">Amazon Top Sellers</h2>
            <a href="#" class="x__product__morelink"> Shop now </a>
          </div>
          <div class="x__products">
            <div class="x__products_items">
              <li class="x__items">
                <a href="/product">
                  <img
                    src="https://m.media-amazon.com/images/I/11tEFlSGn6L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41kaOFDXzSL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/31pEe2taIPL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41yavwjp-8L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/416IxcmUpGL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <img
                  src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                  alt="Charger"
                  class="x__items__lists"
                />
              </li>
              <li class="x__items">
                <img
                  src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                  alt="Charger"
                  class="x__items__lists"
                />
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends Here -->

      <!-- Fist Products List -->
      <div class="products_list_bar">
        <div class="products_list_main">
          <div class="x__product_labels">
            <h2 class="x__product__title">Trending In Video Games</h2>
            <a href="#" class="x__product__morelink"> Shop now </a>
          </div>
          <div class="x__products">
            <div class="x__products_items">
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/11tEFlSGn6L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41kaOFDXzSL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/31pEe2taIPL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41yavwjp-8L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/416IxcmUpGL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends Here -->

      <!--Fisrt Row-->
      <div class="home__row">
        <div class="product">
          <h2 class="card-heading">Comfy styles for her</h2>

          <div class="columns-container">
            <div class="first-one">
              <div class="first-product" style="width: 47.7%">
                <div
                  class="image-container"
                  style="height: auto; overflow: hidden"
                >
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Sweatshirt_Quad_Cat_1x._SY116_CB418609101_.jpg"
                    alt="Sweatshirts"
                    class="image-product"
                    style="max-width: none"
                  />
                </div>
                <div class="label-container">
                  <p class="label-product" style="line-height: 28px">
                    Sweatshirts
                  </p>
                </div>
              </div>
              <div class="second-product" style="width: 47.7%">
                <div
                  class="image-container"
                  style="height: auto; overflow: hidden"
                >
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Joggers_Quad_Cat_1x._SY116_CB418608748_.jpg"
                    alt="Joggers"
                    class="image-product"
                    style="max-width: none"
                  />
                </div>
                <div class="label-container">
                  <p class="label-product" style="line-height: 28px">Joggers</p>
                </div>
              </div>
            </div>
            <div class="first-one">
              <div class="first-product" style="width: 47.7%">
                <div
                  class="image-container"
                  style="height: auto; overflow: hidden"
                >
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Cardigans_Quad_Cat_1x._SY116_CB418608722_.jpg"
                    alt="Cardigans"
                    class="image-product"
                    style="max-width: none"
                  />
                </div>
                <div class="label-container">
                  <p class="label-product" style="line-height: 28px">
                    Cardigans
                  </p>
                </div>
              </div>
              <div class="second-product" style="width: 47.7%">
                <div
                  class="image-container"
                  style="height: auto; overflow: hidden"
                >
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Tees_Quad_Cat_1x._SY116_CB418608878_.jpg"
                    alt="Easy tees"
                    class="image-product"
                    style="max-width: none"
                  />
                </div>
                <div class="label-container">
                  <p class="label-product" style="line-height: 28px">
                    Easy tees
                  </p>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="card-shop-link">Shop now</a>
        </div>

        <div class="product">
          <h2 class="card-heading">Shop Laptops & Tablets</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Laptops_379x304_1X_en_US._SY304_CB418608471_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>

        <div class="product">
          <h2 class="card-heading">Explore home bedding</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_1x._SY304_CB418596953_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>

        <div class="product">
          <h2 class="card-heading">Create with strip lights</h2>

          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_StripLighting_379x304_1X_en_US._SY304_CB418597476_.jpg"
            alt=""
          />

          <a href="#" class="card-shop-link">Shop now</a>
        </div>
      </div>
      <!--Ends Here-->

      <!-- Fist Products List -->
      <div class="products_list_bar">
        <div class="products_list_main">
          <div class="x__product_labels">
            <h2 class="x__product__title">Men's Dress Shirts under $30</h2>
            <a href="#" class="x__product__morelink"> Shop now </a>
          </div>
          <div class="x__products">
            <div class="x__products_items">
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/11tEFlSGn6L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41kaOFDXzSL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/31pEe2taIPL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41yavwjp-8L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/416IxcmUpGL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends Here -->

      <!-- Fist Products List -->
      <div class="products_list_bar">
        <div class="products_list_main">
          <div class="x__product_labels">
            <h2 class="x__product__title">Stuffed Animals & Toys under $10</h2>
            <a href="#" class="x__product__morelink"> Shop now </a>
          </div>
          <div class="x__products">
            <div class="x__products_items">
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/11tEFlSGn6L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41kaOFDXzSL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/31pEe2taIPL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41yavwjp-8L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/416IxcmUpGL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends Here -->

      <!-- Fist Products List -->
      <div class="products_list_bar">
        <div class="products_list_main">
          <div class="x__product_labels">
            <h2 class="x__product__title">Best Sellers in Kitchen</h2>
            <a href="#" class="x__product__morelink"> Shop now </a>
          </div>
          <div class="x__products">
            <div class="x__products_items">
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/11tEFlSGn6L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41kaOFDXzSL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/31pEe2taIPL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41yavwjp-8L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/416IxcmUpGL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends Here -->

      <!-- Fist Products List -->
      <div class="products_list_bar">
        <div class="products_list_main">
          <div class="x__product_labels">
            <h2 class="x__product__title">Best Sellers in Baby</h2>
            <a href="#" class="x__product__morelink"> Shop now </a>
          </div>
          <div class="x__products">
            <div class="x__products_items">
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/11tEFlSGn6L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41kaOFDXzSL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/31pEe2taIPL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41yavwjp-8L._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/416IxcmUpGL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
              <li class="x__items">
                <a href="#">
                  <img
                    src="https://m.media-amazon.com/images/I/41V4eXt+eXL._AC_SY200_.jpg"
                    alt="Charger"
                    class="x__items__lists"
                  />
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends Here -->

      <!--Ends Here-->
    </div>

    <!-- Kindle Section -->

    <div class="footer__kindle">
      <div class="empty"></div>
      <div class="content__handler">
        <div class="product" style="margin: 0;
        padding: 20px 470px;
        text-align: center;">
          <h2 style="line-height: 1;
          margin: 0;
          font-size: 20px;">Best Sellers In Kindle eBooks</h2>
          <button>Sign in to see Persnalized Recommendations</button>
        </div>
      </div>
    </div>

    <!-- Ends Here-->

    <!-- Footer -->
    {% include "./main_blocks/footer.html" %}
  </body>
</html>