<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    <title>Amazon</title>
  </head>
  <body>
    <div class="app">
      <!--Header Of The Page-->
      <div class="header">
        <img
          class="header__logo"
          src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
        />

        <div class="header__search">
          <input class="header__searchInput" type="text" />
          <i class="fa fa-search header__searchIcon" aria-hidden="true"/></i>
        </div>

        <div class="header__nav">
          <div class="header__option">
            <span class="header__optionLineOne">Hello Guest</span>
            <span class="header__optionLineTwo">Sign In</span>
          </div>

          <div class="header__option">
            <span class="header__optionLineOne">Returns</span>
            <span class="header__optionLineTwo">& Orders</span>
          </div>

          <div class="header__option">
            <span class="header__optionLineOne">Your</span>
            <span class="header__optionLineTwo">Prime</span>
          </div>

          <div class="header__optionBasket">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="header__optionLineTwo header__basketCount"> </span>
          </div>
        </div>
      </div>
      <!--Ends Here-->

      <!--Slider Starts-->
       <div class="home">
      <div class="home__container">
        <img
          class="home__image"
          name = "slider"
          src=""
          alt=""
        />
        </div>
          </div>
          <!--Ends Here-->

          <!--Products Start From Here (Simple => Dynamic and will be connected to database later)-->
            <!--First Line-->
            <div class="home__row">
         <div class="product">
      <div class="product__info">
        <p>The Lean Startup: How Constant Innovation Creates Radically Successful Businesses Paperback</p>
        <p class="product__price">
          <small>$</small>
          <strong>11.96</strong>
        </p>
        <div class="product__rating">
         
              <p>🌟🌟🌟🌟</p>
            
        </div>
      </div>

      <img src="https://images-na.ssl-images-amazon.com/images/I/51Zymoq7UnL._SX325_BO1,204,203,200_.jpg" alt="" />

      <button>Add to Basket</button>
    </div>
          <!--2nd-->
           <div class="product">
      <div class="product__info">
        <p>Kenwood kMix Stand Mixer for Baking, Stylish Kitchen Mixer with K-beater, Dough Hook and Whisk, 5 Litre Glass Bowl</p>
        <p class="product__price">
          <small>$</small>
          <strong>12.96</strong>
        </p>
        <div class="product__rating">
         
              <p>🌟🌟🌟🌟</p>
            
        </div>
      </div>

      <img src="https://images-na.ssl-images-amazon.com/images/I/81O%2BGNdkzKL._AC_SX450_.jpg" alt="" />

      <button>Add to Basket</button>
    </div>

    <!--3rd-->
             <div class="product">
      <div class="product__info">
        <p>Amazon Echo (3rd generation) | Smart speaker with Alexa, Charcoal Fabric</p>
        <p class="product__price">
          <small>$</small>
          <strong>98.99</strong>
        </p>
        <div class="product__rating">
         
              <p>🌟🌟🌟🌟</p>
            
        </div>
      </div>

      <img src="https://media.very.co.uk/i/very/P6LTG_SQ1_0000000071_CHARCOAL_SLf?$300x400_retinamobilex2$" alt="" />

      <button>Add to Basket</button>
    </div>

    </div>
      
          <!--Ends Here-->

        
      
      <!--Main Banner Of The Page-->
       <div class="home__row">
         <div class="product">
      <div class="product__info">
        <p>Samsung LC49RG90SSUXEN 49' Curved LED Gaming Monitor - Super Ultra Wide Dual WQHD 5120 x 1440</p>
        <p class="product__price">
          <small>$</small>
          <strong>1094.33</strong>
        </p>
        <div class="product__rating">
         
              <p>🌟🌟🌟</p>
            
        </div>
      </div>

      <img src="https://images-na.ssl-images-amazon.com/images/I/6125mFrzr6L._AC_SX355_.jpg" alt="" />

      <button>Add to Basket</button>
    </div>
    </div>
      <!--Ends Here-->

      <!--Slider-->
      <div class="conatainer">
        
      </div>
          <!--Ends Here-->


          <!--Loading All The Js Files-->
          <script src="{% static 'home/js/slider.js' %}"></script>
          <!--Ends Here-->
  </body>
</html>
