<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <!-- Title -->
  <title>Amazon.com: Online Shopping for Electronics, Apparel, Computers, Books, DVDs & more</title>
  <!-- Meta Information -->
  <meta name="description"
    content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else.">
  <meta name="keywords"
    content="Amazon, Amazon.com, Books, Online Shopping, Book Store, Magazine, Subscription, Music, CDs, DVDs, Videos, Electronics, Video Games, Computers, Cell Phones, Toys, Games, Apparel, Accessories, Shoes, Jewelry, Watches, Office Products, Sports & Outdoors, Sporting Goods, Baby Products, Health, Personal Care, Beauty, Home, Garden, Bed & Bath, Furniture, Tools, Hardware, Vacuums, Outdoor Living, Automotive Parts, Pet Supplies, Broadband, DSL">
  <meta name="google" content="nositelinkssearchbox">
  <link rel="canonical" href="https://www.amazon.com/">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta property="og:image"
    content="http://g-ec2.images-amazon.com/images/G/01/social/api-share/amazon_logo_500500._V323939215_.png"
    xmlns:og="http://opengraphprotocol.org/schema/">
  <link rel="icon" href="{% static 'home/img/amazon-logo-favicon.png' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'home/img/amazon-logo-favicon.png' %}" type="image/x-icon" />
  <meta property="og:description"
    content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else."
    xmlns:og="http://opengraphprotocol.org/schema/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- StyleSheets -->
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/css/product.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Styles -->
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  </style>

  
  <style>
    .dropdown__country {
      position: relative;
    }

    .dropdown-content__country {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 9999;
      margin-top: 45px;
      margin-left: -5px;
      left: -1px;
      border-radius: 3px;
    }

    .dropdown-content__country a {
      text-decoration: none;
      display: block;
    }


    .dropdown__country:hover .dropdown-content__country {
      display: block;
    }


    .xolo__butt {
      background: #131921;
      color: #fff;
      border-top: 1px solid rgba(225, 225, 225, 0.1) !important;
    }
  </style>

</head>

<body style="background-color: #fff;" lang="us-en">
  <!-- Main Body -->
  <div class="app">
    {% load cart_tag %}

    <!--Header Of The Page-->
    {% include './main_blocks/header.html'%}
    <!-- Main Body -->

    <div class="main__body__product">
      <div class="product__card__section">
        <div class="top__section">
          <div class="breadcrumbs_product">
            <li class="path__breadcrumb"><a class="breadcrumb__link" href="#">{{products.category}}</a></li>
            <li class="breadcrumb_divider"> › </li>
            <li class="path__breadcrumb"><a class="breadcrumb__link" href="">{{products.sub_category}}</a></li>
            <li class="breadcrumb_divider"> › </li>
             <li class="path__breadcrumb"><a class="breadcrumb__link" href="">{{products.name}}</a></li>
  
          </div>
          <div class="product__detail__section">
            <!-- Left column -->
            <div id="leftcol" class="product__images"
            style="position: sticky;
            top: 44px;
            height: 100%;">
              <div class="__container">
                <div class="main__leftcol__container">
                  <div class="a__left__imgs__contain">
                    <ul class="a__left__imgs__list">
                      <li class="a__left__imgs">
                        <div class="a__left__border__imgs">
                          <div class="a__imgs">
                            <img src="media/{{products.image}}" alt="">
                          </div>
                        </div>
                      </li>
                      <li class="a__left__imgs">
                        <div class="a__left__border__imgs">
                          <div class="a__imgs">
                            <img src="media/{{products.image_two}}" alt="">
                          </div>
                        </div>
                      </li>
                      <li class="a__left__imgs">
                        <div class="a__left__border__imgs">
                          <div class="a__imgs">
                            <img src="media/{{products.image_three}}" alt="">
                          </div>
                        </div>
                      </li>
                      <li class="a__left__imgs">
                        <div class="a__left__border__imgs">
                          <div class="a__imgs">
                            <img src="media/{{products.image_four}}" alt="">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="a__right__img__contain">
                    <div class="a__right__img">
                      <div class="a__image__right">
                        <img src="media/{{product.image}}" alt="" class="right__aimg">
                      </div>
                    </div>
                    <div class="a__right__img__zoom">
                      <span class="a__right__zoom">Roll Over Image To zoom in</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Center column -->
            <div id="centercol" class="product__full__detail">
              <div class="__container">
                <span class="he__container">
                  <h1 class="he__contain">{{products.name}}</h1>
                </span>
                <span class="official__web__container">
                  <div class="card-shop-link" style="font-size: 13.2px;">
                    Visit the PlayStation Store
                  </div>
                </span>
                <span class="platform__container">
                  <div class="platform__head__contain">
                    <b>Platform :&nbsp</b>
                  </div>
                  {{product.category}}
                </span>
                <span class="raiting__container">
                  <div class="stars__contain">
                  {% if products.rating == 1 %}
                    <span class="fa fa-star checked"></span>
                  {% elif products.rating == 2%}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  {% elif products.rating == 3%}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  {% elif products.rating == 4%}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  {% else %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                    {% endif %}
                    
                  </div>
                  <div class="card-shop-link" style="font-size: 14px;">
                    {{products.number_of_ratings}} ratings
                  </div>
                </span>
                <span class="amazon__choice__container">
                    <span class="choice__container">
                      <span class="amazon__contain">Amazon's </span>
                      <span class="choice__container1">Choice</span>
                    </span>
                    <span class="choice__triangle__container"></span>
                </span>
                <hr style="margin: 0 0 14px;border: 1px solid #e7e7e7;">
                <span class="product__price__container">
                  <table>
                    <tbody>
                      <tr class="table__content">
                        <td class="price__label__content">Price: </td>
                        <td class="price_desc_contain">
                          <span class="price__contain main__label" style="font-size: 18px;">${{product.price}} </span>
                          <span class="shipping__price__contain">
                            + $166.46 Shipping & Import Fees Deposit to Pakistan&nbsp
                          </span>
                          <a href="#" class="card-shop-link" style="font-size: 14px;">Details</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </span>
                <span class="other__seller__container">
                  Available at a lower price from <a href="#" class="card-shop-link" style="font-size: 14px;">other seller's</a> that may not offer free Prime shipping.
                </span>
                <span class="stock__status__container">
                {% if products.in_stock %}
                  <div class="dp__conatiner" style="margin-top: 20px;font-size: 20px;font-weight: 500;font-family: Arial,sans-serif;">In Stock.</div>
                  {% else %}
                  <div class="dp__conatiner" style="margin-top: 20px;font-size: 20px;font-weight: 500;font-family: Arial,sans-serif; color: red !important;">Out Of Stock.</div>
                  {% endif %}
                </span>
                <span class="arrival__date__container">
                  Arrives: <b style="color: #000;">{{products.delievery_Date}}</b>
                </span>
                <span class="shipper__container">
                  Ships from and sold by Amazon.com.
                </span>
               
                <span class="product__information__container">
                  <ul class="product__info__list" style="padding-inline-start: 18px;    margin-bottom: 10px;">
                    {{products.description | safe}}                   
                  </ul>
                </span>
                <!-- <span class="second__hand__products__container">
                  <a href="#" class="card-shop-link" style="font-size: 14px;">New & Used (12) from </a>
                  <label class="main__label" style="font-size: 14px;">$41.85</label>
                </span> -->
              </div>
            </div>
         
            <!-- Right column -->
            <div id="rightcol" class="product__functions">
              <div class="socail__sharing">
                <div class="shareit">
                  <a href="#" class="card-shop-link" style="font-size: 13px;">Share</a>
                  <a href="#"><img class="share__photo" src="{% static 'home\img\logo\email.png' %}"></a>
                  <a href="#"><img class="share__photo" src="{% static 'home\img\logo\facebook.png' %}"></a>
                  <a href="#"><img class="share__photo" src="{% static 'home\img\logo\pinterest.png' %}"></a>
                  <a href="#"><img class="share__photo" src="{% static 'home\img\logo\twitter.png' %}"></a>
                </div>
              </div>
              <div class="product__buy">
                <div class="border__buy">
                  <div class="inner__section__product__buy">
                    <div class="product__count">
                      <div class="product__Section__count">
                        <div class="prduct__section__count">
                          <span class="dropdpwn__product">
                            <label for="quantity">Qty: </label>
                            <form method="POST" action="{% url 'cart_add' products.id %}">
                              {% csrf_token %}
                            <select name="quantity" id="product__countselect">
                              <option value="1" selected="">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                          </span>
                        </div>
                      </div>
                    </div>
                    <span class="buy__cart__button">
                      <div class="product" style="margin: 0;padding: 0;">
                        <input type="hidden" name="color" value="white">
                        <input type="hidden" name="size" value="Extra-Large">
                        <button id="pr{{products.id}}" class="cart" style="margin-bottom: 10px;" type="submit">Add To Cart</button>
                        </form>
                        <button
                          style="margin-top: 0px !important;background: linear-gradient(to bottom,#f6c88f,#ed9220);margin-bottom: 10px;">Buy
                          Now</button>
                      </div>
                    </span>
                    <span class="transaction__label">
                      <i class="fa fa-lock" aria-hidden="true"
                      style="color: #adadad;
                      font-size: 18px;
                      margin-right: 8px;"></i>
                      <div class="secure__label" style="margin-top: -3px;">
                        <a href="#" class="card-shop-link" 
                        style="font-size: 14px;">Secure transaction</a>
                      </div>
                    </span>
                 
                    <hr style="margin-bottom: 5px;border-top: 1px solid #e0e0e0;">
                    <span class="buying__location">
                      <div class="buyer-location buy__it__location" style="margin-left: 0;width: 100%;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" id="geo-marker" class="bi bi-geo-alt" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                          style="color: #000;
                          height: 15px;
                          width: 18px;">
                          <path fill-rule="evenodd"
                            d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                          <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        <div class="location-of-user">
                          <a href="#" class="card-shop-link" style="font-size: 11px;">Deliver to Pakistan</a>
                        </div>
                      </div>
                    </span>
                    <hr style="margin-bottom: 5px;margin-top: 10px;border-top: 1px solid #e0e0e0;">
                    <span class="add__to__list">
                      <div class="product" style="margin: 0;padding: 0;">
                        <button
                          style="margin-top: 0px !important;
                          background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);margin-bottom: 10px;    
                          text-align: start;
                          padding-right: 10px;
                          padding-left: 10px;">Add to List</button>
                      </div>
                    </span>
                  </div>
                </div>
                <br>
                <div class="border__buy" style="margin-top: -7px;">
                  <div class="inner__section__product__buy">
                    <span class="main__inner__section">
                      <div class="__container">
                        <span class="h__container">
                          Sell yours for a Gift Card
                        </span>
                        <span class="d__conatiner">
                          We'll buy it for up to&nbsp
                          <div class="dp__conatiner">
                            $5.65
                          </div>
                        </span>
                        <span class="l__container">
                          <div class="card-shop-link">
                            Learn More
                          </div>
                        </span>
                        <span class="add__to__list">
                          <div class="product" style="margin: 0;
                          padding: 0;
                          width: 52%;
                          margin-top: 5px;">
                            <button
                              style="margin-top: 0px !important;
                              background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);margin-bottom: 10px;    
                              text-align: start;
                              padding-right: 10px;
                              padding-left: 10px;">Trade in now</button>
                          </div>
                        </span>
                      </div>
                    </span>
                  </div>
                </div>
                <br>
                <div class="border__buy" style="border: none;">
                  <div class="inner__section__product__buy" style="text-align: -webkit-center;">
                    <span class="d__conatiner" style="place-content: center;line-height: 10px;">
                      Have one to sell?
                    </span>
                    <span class="add__to__list">
                      <div class="product" style="margin: 0;
                      padding: 0;
                      width: 70%;
                      margin-top: 5px;">
                        <button
                          style="margin-top: 0px !important;
                          background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);margin-bottom: 10px;    
                          text-align: center;
                          padding-right: 10px;
                          padding-left: 10px;">Sell on Amazon</button>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
          <div class="related__content__container">
            <div class="related__brands">
              <div class="head__related">
                <h2 class="main__heading">Brands related to this category on Amazon</h2>
                <p class="main__sponsor"><a href="#" class="sponsor__link">Sponsored</a></p>
              </div>
            
              <div class="brand__related__cards">
                <ul class="brands__cards">
                {% for items in sponsered_products %}
                  <li class="brand__card">
                                      <div class="brand____container">
                      <div class="main__brand__image">
                        <img class="camuta" src="/media/{{items.image}}" alt="">
                      </div>
                      <div class="main__brand__info">
                        <span class="brand__logo">
                          <img src="https://images-na.ssl-images-amazon.com/images/S/gladiator-image-upload-prod/2/ATVPDKIKX0DER/c95f97aae7e3fcddf105319bfbc65833._AC_SX80_SY40_QL70_.jpg" alt="Playstation">
                        </span>
                        <span class="brand__product__desc">
                          Play Has No Limits™
                        </span>
                        <span class="brand__link">
                          <a href="#" class="card-shop-link">Shop Playstation > </a>
                        </span>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                 
                </ul>
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Products related to this item</h2>
                <p class="main__sponsor"><a href="#" class="sponsor__link">Sponsored</a></p>
              </div>
              <div class="related__products__items">
                {% for items in category_product  %}
                 <li class="product__list__related">
                  <span class="image__realted">
                    <img src="{{items.image}}" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="/shop/product/{{items.slug}}" class="card-shop-link">
                      {{items.name}}
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                         {% if items.rating == 1 %}
                    <span class="fa fa-star checked"></span>
                  {% elif items.rating == 2%}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  {% elif items.rating == 3%}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  {% elif items.rating == 4%}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  {% else %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                    {% endif %}
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">${{items.price}} </span>
                </li>
                {% endfor %}
              </div>
            </div>
          </div>
          <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">More to consider from our brands</h2>
              </div>
              <div class="related__products__items">
                <li class="product__list__related" style="margin-left: 0;">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="#" class="card-shop-link">
                      Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="#" class="card-shop-link">
                      Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="#" class="card-shop-link">
                      Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="#" class="card-shop-link">
                      Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="#" class="card-shop-link">
                      Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                  <span class="related__item__name">
                    <a href="#" class="card-shop-link">
                      Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                    </a>
                  </span>
                  <span class="raiting__container">
                    <div class="stars__contain">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="card-shop-link" style="font-size: 14px;">
                      87
                    </div>
                  </span>
                  <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                </li>
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">From the manufacturer</h2>
              </div>
              <div class="product__article">
                <div class="video__article__container">
                 <iframe class="article__video" width="1263" height="480" src="{{products.video_url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <img src="media/{{products.main_banner}}" alt="" style="margin-top: -10px;">
                  <span class="second__container__info">
                    <div class="content__">
                      <h3 class="content__heading3">DUALSHOCK 4</h3>
                      <h1 class="content__heading1">Play in Style</h1>
                      <br>
                      <p class="content__para">Evolved analog sticks and trigger buttons allow for unparalleled accuracy with every move while innovative technologies offer exciting ways to experience your games and share your greatest moments.</p>
                    </div>
                    <div class="video__">
                      <video src="https://m.media-amazon.com/images/S/aplus-media/vc/b2a112c2-80a7-4c42-92ed-6fe806ac6b0f.mp4" class="video__main" controls></video>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Product description</h2>
              </div>
              <div class="productdesc__">
               {{products.main_description | safe}}
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Product Inforamtion</h2>
              </div>
              <div class="main__product__content" style="display: flex;">
                <div class="product__table">
                  <table class="main__table">
                    <tbody>
                    {% for keys,values in jsonData.items %}
                      <tr class="table__row">
                        <th class="table_head">{{keys}}</th>
                        <td class="tabe__body">{{values}}</td>
                      </tr>
                      {% endfor %}
                        </tbody>
                  </table>
                </div>
                <div class="warranty">
                  <h1 class="warranty__head" 
                  style="font-size: 18px;margin: 0;padding-left: 7px;">Warranty & Support</h1>
                  <hr style="border-top: 1px solid #d0d0d0;;margin-bottom:5px;margin-top: 5px;">
                  <p style="padding-left: 7px;">{{products.warrenty_support | safe}} <a href="#" class="card-shop-link">click here</a> <b class="f-5">[PDF ]</b></p>
                  <br>
                  <h1 class="warranty__head" 
                  style="font-size: 18px;margin: 0;padding-left: 7px;">Feedback</h1>
                  <hr style="border-top: 1px solid #d0d0d0;;margin-bottom:5px;margin-top: 5px;">
                  <p style="padding-left: 7px;">Would you like to <b><a href="#" class="card-shop-link">tell us about a lower price?</a></b></p>
                </div>
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Product Guides and Information</h2>
              </div>
              <div class="main__product__content">
                <div class="product__table">
                  <span><a href="#" class="card-shop-link">Other Content</a> <b class="f-5">[PDF ]</b></span>
                  <hr style="    border-top: 1px solid #e2e2e2;;margin-bottom:5px;margin-top: 5px;">
                  <span><a href="#" class="card-shop-link">User Guide</a> <b class="f-5">[PDF ]</b></span>
                  <hr style="    border-top: 1px solid #e2e2e2;;margin-bottom: 5px;margin-top: 5px;">
                  <span><a href="#" class="card-shop-link">Manual</a> <b class="f-5">[PDF ]</b></span>
                </div>
              </div>
            </div>
            {% comment %} <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Videos</h2>
              </div>
              <div class="related__products__items">
                <li class="product__list__related1" style="margin-left: 0;">
                  <a href="#" class="video__url__frame">
                  <div class="video__frame__container">
                    <img src="https://m.media-amazon.com/images/I/61XeJMINeJL.jpg_SR247,139__BG0,0,0_.jpg" alt="">
                    <p class="video__duration">0:10</p>
                    <p class="card_hover"> Click to play video</p>
                  </div>
                  <div class="video__credentials__container">
                    <h4 class="video__title"> DualShock 4 Wireless Controller for PlayStation 4 </h4>
                    <span class="video__uploader">Merchant Video</span>
                  </div>
                  </a>
                </li>
                <li class="product__list__related1">
                  <a href="#" class="video__url__frame">
                  <div class="video__frame__container">
                    <img src="https://m.media-amazon.com/images/I/61XeJMINeJL.jpg_SR247,139__BG0,0,0_.jpg" alt="">
                    <p class="video__duration">0:10</p>
                    <p class="card_hover"> Click to play video</p>
                  </div>
                  <div class="video__credentials__container">
                    <h4 class="video__title"> DualShock 4 Wireless Controller for PlayStation 4 </h4>
                    <span class="video__uploader">Merchant Video</span>
                  </div>
                  </a>
                </li>
                <li class="product__list__related1">
                  <a href="#" class="video__url__frame">
                  <div class="video__frame__container">
                    <img src="https://m.media-amazon.com/images/I/61XeJMINeJL.jpg_SR247,139__BG0,0,0_.jpg" alt="">
                    <p class="video__duration">0:10</p>
                    <p class="card_hover"> Click to play video</p>
                  </div>
                  <div class="video__credentials__container">
                    <h4 class="video__title"> DualShock 4 Wireless Controller for PlayStation 4 </h4>
                    <span class="video__uploader">Merchant Video</span>
                  </div>
                  </a>
                </li>
                <li class="product__list__related1">
                  <a href="#" class="video__url__frame">
                  <div class="video__frame__container">
                    <img src="https://m.media-amazon.com/images/I/61XeJMINeJL.jpg_SR247,139__BG0,0,0_.jpg" alt="">
                    <p class="video__duration">0:10</p>
                    <p class="card_hover"> Click to play video</p>
                  </div>
                  <div class="video__credentials__container">
                    <h4 class="video__title"> DualShock 4 Wireless Controller for PlayStation 4 </h4>
                    <span class="video__uploader">Merchant Video</span>
                  </div>
                  </a>
                </li>
              </div>
            </div>
            <style>
              .life_ {
                padding: 20px;
                text-align: -webkit-left;
              }
              span.life__price {
                font-size: 16px;
                color: #555;
                line-height: 1;
              }

            </style> {% endcomment %}
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="brand__related__cards">
              <ul class="brands__cards" style="display: block;text-align: -webkit-center;">
                <li class="brand__card" style="width: 80%;">
                  <div class="brand____container">
                    <div class="main__brand__image" style="background: white;width: 30%;display: grid;margin: 30px;border-right: 1px solid #cccccc;">
                      <img src="https://images-na.ssl-images-amazon.com/images/S/sponsored-display-brand-logo-prod/5/ATVPDKIKX0DER/b8778f952f1d88b76e1161de34f26b9a._CR0,0,970,600_AC_AC_SX200_SY100_.jpg" alt="">
                      <div class="life__">
                        <span class="life__quote">Play in Style</span>
                      </div>
                    </div>
                    <div class="main__brand__info" style="display: flex;width: 70%;">
                      <span class="life__logo">
                        <img src="https://m.media-amazon.com/images/I/61ecHAb4wyL._AC_SX220_SY220_.jpg" alt="Playstation">
                      </span>
                      <div class="life_">
                      <span class="life__product__desc">
                        PS4 Controller Wireless Gamepad for Playstation 4/Pro/Slim/PC and Laptop with Motion Motors and Audio Function, Mini
                      </span>
                      <span class="life__link">
                        <span class="raiting__container">
                          <div class="stars__contain">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="card-shop-link" style="font-size: 14px;">
                            87
                          </div>
                        </span>
                      </span>
                      <span class="life__price">$24.85</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Customer Question And Answers</h2>
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Customer Reviews</h2>
              </div>
            </div>
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
              <div class="head__related">
                <h2 class="main__heading">Your Browsing History</h2>
              </div>
              <div class="related__products__items">
                <li class="product__list__related" style="margin-left: 0;">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                </li>
                <li class="product__list__related">
                  <span class="image__realted">
                    <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                  </span>
                </li>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Body Ends Here -->


    <!-- Kindle Section -->

    <div class="footer__kindle">
      <div class="empty"></div>
      <div class="content__handler">
        <div class="product" style="margin: 0;
          padding: 20px 470px;
          text-align: center;">
          <h2 style="line-height: 1;
            margin: 0;
            font-size: 20px;">Best Sellers In Kindle eBooks</h2>
          <button>Sign in to see Persnalized Recommendations</button>
        </div>
      </div>
    </div>

    <!-- Ends Here-->

    <!-- Footer -->
    {% include "./main_blocks/footer.html" %}
</body>

</html>