aiohttp
asgiref
astroid
async-timeout
attrs
autopep8
certifi
cffi
chardet
colorama
cryptography
defusedxml
Django
django-activity-stream
django-cleanup
django-jsonfield
django-jsonfield-compat
django-model-utils
django-notifications-hq
django-shopping-cart
django-tellme
django-user-visit
geoip2
gunicorn
idna
isort
jsonfield
lazy-object-proxy
maxminddb
mccabe
multidict
oauthlib
Pillow
pycodestyle
pycparser
PyJWT
pylint
python3-openid
pytz
requests
requests-oauthlib
sentry-sdk
six
sqlparse
swapper
toml
typed-ast
typing-extensions
ua-parser
urllib3
user-agents
whitenoise
wrapt
yarl
