<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Title -->
    <title>
        Amazon.com: Online Shopping for Electronics, Apparel, Computers, Books,
        DVDs & more
    </title>
    <!-- Meta Information -->
    <meta name="description"
        content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else." />
    <meta name="keywords"
        content="Amazon, Amazon.com, Books, Online Shopping, Book Store, Magazine, Subscription, Music, CDs, DVDs, Videos, Electronics, Video Games, Computers, Cell Phones, Toys, Games, Apparel, Accessories, Shoes, Jewelry, Watches, Office Products, Sports & Outdoors, Sporting Goods, Baby Products, Health, Personal Care, Beauty, Home, Garden, Bed & Bath, Furniture, Tools, Hardware, Vacuums, Outdoor Living, Automotive Parts, Pet Supplies, Broadband, DSL" />
    <meta name="google" content="nositelinkssearchbox" />
    <link rel="canonical" href="https://www.amazon.com/" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta property="og:image"
        content="http://g-ec2.images-amazon.com/images/G/01/social/api-share/amazon_logo_500500._V323939215_.png"
        xmlns:og="http://opengraphprotocol.org/schema/" />
    <link rel="icon" href="{% static 'home/img/amazon-logo-favicon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'home/img/amazon-logo-favicon.png' %}" type="image/x-icon" />
    <meta property="og:description"
        content="Free delivery on millions of items with Prime. Low prices across earth's biggest selection of books, music, DVDs, electronics, computers, software, apparel & accessories, shoes, jewelry, tools & hardware, housewares, furniture, sporting goods, beauty & personal care, groceries & just about anything else."
        xmlns:og="http://opengraphprotocol.org/schema/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- StyleSheets -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/product.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/cart.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Styles -->
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        .link-main:hover {
            text-decoration: none !important;
            color: #C7511F;
        }

        .link-main {
            color: #0F1111;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
        }
        h2.main__heading {
            color: #0F1111!important;
            font-size: 21px!important;
            font-weight: 700;
            font-family: verdana,arial,helvetica,sans-serif!important;
        }
    </style>
    <style>
        .dropdown {
            overflow: hidden;
            background-color: #f3f3f3;
            color: #555;
            height: 40px;
            width: auto;
            font-size: 12px;
            border-radius: 10px 0 0 10px;
            border-right: 1px solid #d0d0d0;
        }

        .dropdown .dropbtn {
            cursor: pointer;
            font-size: 14px;
            border: none;
            color: #555;
            padding: 11px 10px 11.5px 10px;
            background-color: inherit;
            font-family: inherit;
            display: flex;
            font-size: 12px;
            align-items: center;
        }

        .dropdown:hover .dropbtn,
        .dropbtn:focus {
            background-color: #e4e4e4;
            outline: none;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>

    <style>
        .dropdown__country {
            position: relative;
        }

        .dropdown-content__country {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            margin-top: 45px;
            margin-left: -5px;
            left: -1px;
            border-radius: 3px;
        }

        .dropdown-content__country a {
            text-decoration: none;
            display: block;
        }

        .dropdown__country:hover .dropdown-content__country {
            display: block;
        }

        .xolo__butt {
            background: #131921;
            color: #fff;
            border-top: 1px solid rgba(225, 225, 225, 0.1) !important;
        }
    </style>
</head>

<body>
        {% include './main_blocks/header.html'%}

        <!-- Main Body Container -->


        <div style="width: 100%;height: 100%;padding: 14px 18px 18px;">
          <div class="cart__sections">
              <div class="section__one">
                  <div class="main__banner">
                    <div class="image__sign">
                        <img src="https://m.media-amazon.com/images/G/01/cart/empty/kettle-desaturated._CB445243794_.svg" alt="Sign In First" class="sign__image">
                    </div>
                    <div class="content__sign">
                        <span class="sign__head">Your Amazon Cart is empty</span>
                        <span class="sign__link"><a href="#" class="card-shop-link">Shop today's deals</a></span>
                        <span class="sign__buttons">
                            <div class="product" style="padding: 10px 10px 10px 0;width: auto;">
                                <button style="padding: 3px 7px;margin: 0;font-size: 16px;">Sign in to your account</button>
                            </div>
                            <div class="product" style="padding: 10px 10px 10px 0;width: auto;">
                                <button style="margin-top: 0px !important;
                                background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);margin-bottom: 10px;    
                                text-align: center;
                                padding-right: 10px;
                                padding-left: 10px;
                                font-size: 16px;
                                padding: 3px 7px;">Sign up now</button>
                            </div>
                        </span>
                    </div>
                  </div>
                  <div class="second__banner"></div>
                  <div class="label__banner">
                    <span class="label__cart">The price and availability of items at Amazon.com are subject to change. The Cart is a temporary place to store a list of your items and reflects each item's most recent price. Shopping Cart <a href="#" class="card-shop-link">Learn more<?</span>
                    <span class="label__cart">Do you have a gift card or promotional code? We'll ask you to enter your claim code when it's time to pay.</span>
                  </div>
              </div>
              <div class="section__two">
                <div class="sidebar__cart">
                    <div class="head__side__cart">
                        <span class="main__head">Your recently viewed items</span>
                    </div>
                    <div class="list__of__items">
                        <ul class="main__list__items">
                            <li class="cart__list__items">
                                <div class="cart__side__image">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/615YaAiA-ML._AC_UL100_SR100,100_.jpg" alt="Oculus Quest" class="side__image">
                                </div>
                                <div class="cart__side__info">
                                    <span class="cart__side__title"><a href="#" class="card-shop-link">Oculus Quest 2...</a></span>
                                    <span class="cart__side__cat">Oculus</span>
                                    <span class="cart__side__rating">
                                        <span class="raiting__container">
                                            <div class="stars__contain">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="card-shop-link" style="font-size: 14px;">
                                                87
                                            </div>
                                        </span>
                                    </span>
                                    <span class="cart__side__seller">Oculus</span>
                                    <span class="cart__side__price main__label">$229.00</span>
                                    <span class="cart__side__button">
                                        <div class="product">
                                            <button style="margin: 0">Add to Cart</button>
                                        </div>
                                    </span>
                                </div>
                            </li>
                            <li class="cart__list__items">
                                <div class="cart__side__image">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/615YaAiA-ML._AC_UL100_SR100,100_.jpg" alt="Oculus Quest" class="side__image">
                                </div>
                                <div class="cart__side__info">
                                    <span class="cart__side__title"><a href="#" class="card-shop-link">Oculus Quest 2...</a></span>
                                    <span class="cart__side__cat">Oculus</span>
                                    <span class="cart__side__rating">
                                        <span class="raiting__container">
                                            <div class="stars__contain">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="card-shop-link" style="font-size: 14px;">
                                                87
                                            </div>
                                        </span>
                                    </span>
                                    <span class="cart__side__seller">Oculus</span>
                                    <span class="cart__side__price main__label">$229.00</span>
                                    <span class="cart__side__button">
                                        <div class="product">
                                            <button style="margin: 0">Add to Cart</button>
                                        </div>
                                    </span>
                                </div>
                            </li>
                            <li class="cart__list__items">
                                <div class="cart__side__image">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/615YaAiA-ML._AC_UL100_SR100,100_.jpg" alt="Oculus Quest" class="side__image">
                                </div>
                                <div class="cart__side__info">
                                    <span class="cart__side__title"><a href="#" class="card-shop-link">Oculus Quest 2...</a></span>
                                    <span class="cart__side__cat">Oculus</span>
                                    <span class="cart__side__rating">
                                        <span class="raiting__container">
                                            <div class="stars__contain">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="card-shop-link" style="font-size: 14px;">
                                                87
                                            </div>
                                        </span>
                                    </span>
                                    <span class="cart__side__seller">Oculus</span>
                                    <span class="cart__side__price main__label">$229.00</span>
                                    <span class="cart__side__button">
                                        <div class="product">
                                            <button style="margin: 0">Add to Cart</button>
                                        </div>
                                    </span>
                                </div>
                            </li>
                            <li class="cart__list__items">
                                <div class="cart__side__image">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/615YaAiA-ML._AC_UL100_SR100,100_.jpg" alt="Oculus Quest" class="side__image">
                                </div>
                                <div class="cart__side__info">
                                    <span class="cart__side__title"><a href="#" class="card-shop-link">Oculus Quest 2...</a></span>
                                    <span class="cart__side__cat">Oculus</span>
                                    <span class="cart__side__rating">
                                        <span class="raiting__container">
                                            <div class="stars__contain">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="card-shop-link" style="font-size: 14px;">
                                                87
                                            </div>
                                        </span>
                                    </span>
                                    <span class="cart__side__seller">Oculus</span>
                                    <span class="cart__side__price main__label">$229.00</span>
                                    <span class="cart__side__button">
                                        <div class="product">
                                            <button style="margin: 0">Add to Cart</button>
                                        </div>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
          </div>
        </div>


        <!-- Related Products -->
        <div class="related__con" style="background-color: #fff;padding-top: 10px;">
            <!-- related -->
            <div class="related__products">
                <div class="head__related">
                    <h2 class="main__heading">Customers Who Bought Items in Your Recent History Also Bought</h2>
                </div>
                <div class="related__products__items">
                    <li class="product__list__related" style="margin-left: 0;">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                </div>
            </div>
            <!-- Inspired Through Browsing -->
            <div class="related__products">
                <div class="head__related">
                    <h2 class="main__heading">Inspired by your browsing history</h2>
                </div>
                <div class="related__products__items">
                    <li class="product__list__related" style="margin-left: 0;">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                        <span class="related__item__name">
                            <a href="#" class="card-shop-link">
                                Wireless Controller for PS4, Dual Vibration Wireless Gamepad Controller Remote
                            </a>
                        </span>
                        <span class="raiting__container">
                            <div class="stars__contain">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="card-shop-link" style="font-size: 14px;">
                                87
                            </div>
                        </span>
                        <span class="price__contain main__label" style="font-size: 18px;">$64.98 </span>
                    </li>
                </div>
            </div>
            <!-- Browsing History-->
            <hr style="border-top: 1px solid #ccc;margin-bottom: 10px;">
            <div class="related__products">
                <div class="head__related">
                    <h2 class="main__heading">Your Browsing History</h2>
                </div>
                <div class="related__products__items">
                    <li class="product__list__related" style="margin-left: 0;">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                    </li>
                    <li class="product__list__related">
                        <span class="image__realted">
                            <img src="https://m.media-amazon.com/images/I/41g1y1envyL._AC_UL160_SR160,160_.jpg" alt="">
                        </span>
                    </li>
                </div>
            </div>
        </div>
        <!-- Related Products Ends Here-->

        <!-- Main Body Ends Here -->

        <!-- Kindle Section -->

        <div class="footer__kindle">
            <div class="content__handler">
                <div class="product" style="margin: 0;
          padding: 20px 470px;
          text-align: center;">
                    <h2 style="line-height: 1;
            margin: 0;
            font-size: 20px;">Best Sellers In Kindle eBooks</h2>
                    <button>Sign in to see Persnalized Recommendations</button>
                </div>
            </div>
        </div>

        <!-- Ends Here-->

        {% include "./main_blocks/footer.html" %}
</body>

</html>