.main__conatiner_ {
    max-width: 1200px;
    margin: auto;
    padding: 20px 24px;
}
.payout_page_w {
    padding: 20px 24px;
}
.f_w_s {
    margin-bottom: 18px;
    display: flex;
}
.m__heading {
    width: 100%;
}
h1.m__h {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
}
.s__w__flex {
    display: flex;
}
.h__one {
    width: 47%;
    margin-right: 6%;
}
.h__two {
    width: 47%;
}
span.wran__p__ship {
    font-size: 21px;
    line-height: 1.3;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}
span.wran__h__ship {
    font-size: 17px;
    line-height: 1.24;
    font-weight: 700;
}
span.wran_address {
    display: block;
    margin-top: 14px;
    color: #888;
    font-size: 13px;
    margin-bottom: 14px;
}
ul.main__ulist {
    padding-left: 22px;
}
li.sub__ulist {
    margin-bottom: 14px;
}
li.sub__ulist::marker {
    color: #a5a5a5;
    font-size: 19px;
}
span.pro__title {
    display: block;
    font-weight: 700;
}
span.pro__price {
    color: #888;
}
span.quant__wran {
    font-size: 13px;
}
span.wran__seller {
    display: block;
    font-size: 13px;
}
span.yts__age {
    font-size: 17px;
    line-height: 1.24;
    font-weight: 700;
    display: block;
    margin-bottom: 14px;
}
span.yts__desc {
    font-size: 13px;
    display: block;
}
ul.x__ana {
    list-style: none;
    padding: 0;
    margin-top: 14px;
}
li.i__l__u {
    display: flex;
}
li.i__l__u:hover {
    cursor: pointer;
}
.chec__ {
    margin-right: 10px;
}
span.off__date {
    display: block;
    color: #090;
    font-weight: 700;
    font-size: 13px;
}
span.ship__price {
    color: #888;
    font-size: 13px;
}