.main__payout__section {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.firstsection {
    padding: 0 20px;
}
h1.fs__heading {
    margin-bottom: 14px!important;
    padding-bottom: 4px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    font-family: Arial,sans-serif;
}
p.fs__slogan {
    margin-bottom: 14px!important;
    font-size: 13px;
}