.top__section {
    margin-top: 8px!important;
    padding: 0 16px;
}

.breadcrumbs_product {
    margin-left: 0;
    display: flex;
    list-style: none;
}

li.path__breadcrumb {
    display: block;
    line-height: 14px;
}

li.breadcrumb_divider {
    display: block;
    color: #565959!important;
    font-size: 12px;
    margin: 0 5px;
}

a.breadcrumb__link {
    color: #565959!important;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

a.breadcrumb__link:hover {
    text-decoration: underline;
}

.product__detail__section {
    margin-top: 20px;
    padding: 0 2px;
    display: flex;
}

div#leftcol {
    width: 33.4%;
    height: 100%;
}

div#centercol {
    width: 547px;
}

div#rightcol {
    width: 244px;
    margin-left: 25px;
}

.shareit {
    text-align-last: center;
}

img.share__photo {
    width: 20px;
    height: 20px;
}

.product__buy {
    width: 100%;
    margin-top: 10px;
}

.border__buy {
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
}

.inner__section__product__buy {
    padding: 14px 18px;
}

.product__count {
    margin-bottom: 4px;
}

.product__Section__count {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
    width: 100%;
}

.prduct__section__count {
    margin-bottom: 12px;
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}

span.dropdpwn__product {
    position: relative;
}

label {
    font-size: 12px;
}

select#product__countselect {
    border: 1px solid #DDD;
    border-radius: 4px 4px 4px 4px;
    padding: 3px;
}

.transaction__label {
    display:flex;
}

.access__story {
    margin-top: 20px;
}

span.label__access {
    font-weight: 700;
    font-size: 14px;
}

span.access__list {
    display: inline-flex;
    position: relative;
}

span.access__list__content {
    margin-left: 4px;
    margin-top: -6px;
}

.buy__it__location:hover {
    border: none !important;
    padding: 1px 2px 1px 2px;
}

.dp__conatiner {
    color: #007600!important;
    font-weight: 700;
}

span.d__conatiner {
    display: flex;
    font-size: 14px;
}

span.h__container {
    font-weight: 700;
    font-size: 14px;
}

.checked {
    color: orange;
}

h1.he__contain {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 5px;
}

span.platform__container {
    display: flex;
}

span.raiting__container {
    display: flex;
    align-items: center;
}

.stars__contain {
    margin-right: 20px;
}

span.amazon__choice__container {
    margin: 5px 0 10px;
    display: flex;
}

span.choice__container {
    height: 22px;
    background-color: #232F3E;
    border-color: #232F3E;
    display: flex;
    width: 130px;
}

span.amazon__contain {
    line-height: 22px;
    margin-left: 8px;
    margin-right: 3px;
    color: #fff;
    font-family: "Amazon Ember",Arial!important;
    min-width: 36px;
}

span.choice__container1 {
    line-height: 22px;
    margin-right: 8px;
    color: #F69931;
    font-family: "Amazon Ember",Arial!important;
    min-width: 24px;
}

span.choice__triangle__container {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 22px solid;
    color: #232F3E;
}

td.price__label__content {
    color: #565959!important;
}

span.arrival__date__container {
    color: #565959!important;
    line-height: 28px;
    display: block;
}

.product__colors__list__contain {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}

li.picture__contain {
    margin: 5px;
}

span.color__label {
    color: #565959!important;
}

span.color__label__contain {
    line-height: 28px;
    display: block;
}

span.shipper__container {
    line-height: 28px;
    display: block;
}

.main__leftcol__container {
    display: flex;
    margin-bottom: 22px;
}

.a__left__imgs__contain {
    width: 58px;
}

ul.a__left__imgs__list {
    list-style: none;
    padding: 0;
    margin-top: 48px;
}

li.a__left__imgs {
    margin-bottom: 8px;
}

.a__left__border__imgs:hover {
    border-color: #e77600;
    outline: none;
}

.a__left__border__imgs {
    width: 70%;
    height: auto;
    overflow: visible;
    border-color: #a2a6ac;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}

.a__right__img__contain {
    width: 320px;
    padding-left: 3.5%;
    text-align: center;
    display: block;
}

.a__right__img {
    width: 100%;
    margin-bottom: 10px;
    display: table;
}

.a__image__right {
    contain: content;
    max-height: 700px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 90px 0;
}

img.right__aimg {
    width: 100%;
}