.top__section {
    margin-top: 8px!important;
    padding: 0 16px;
}

.breadcrumbs_product {
    margin-left: 0;
    display: flex;
    list-style: none;
}

li.path__breadcrumb {
    display: block;
    line-height: 14px;
}

li.breadcrumb_divider {
    display: block;
    color: #565959!important;
    font-size: 12px;
    margin: 0 5px;
}

a.breadcrumb__link {
    color: #565959!important;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

a.breadcrumb__link:hover {
    text-decoration: underline;
}

.product__detail__section {
    margin-top: 20px;
    padding: 0 2px;
    display: flex;
}

div#leftcol {
    width: 33.4%;
    height: 100%;
}

div#centercol {
    width: 547px;
}

div#rightcol {
    width: 244px;
    margin-left: 25px;
}

.shareit {
    text-align-last: center;
}

img.share__photo {
    width: 20px;
    height: 20px;
}

.product__buy {
    width: 100%;
    margin-top: 10px;
}

.border__buy {
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
}

.inner__section__product__buy {
    padding: 14px 18px;
}

.product__count {
    margin-bottom: 4px;
}

.product__Section__count {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
    width: 100%;
}

.prduct__section__count {
    margin-bottom: 12px;
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}

span.dropdpwn__product {
    position: relative;
}

label {
    font-size: 12px;
}

select#product__countselect {
    border: 1px solid #DDD;
    border-radius: 4px 4px 4px 4px;
    padding: 3px;
}

.transaction__label {
    display:flex;
}

.access__story {
    margin-top: 20px;
}

span.label__access {
    font-weight: 700;
    font-size: 14px;
}

span.access__list {
    display: inline-flex;
    position: relative;
}

span.access__list__content {
    margin-left: 4px;
    margin-top: -6px;
}

.buy__it__location:hover {
    border: none !important;
    padding: 1px 2px 1px 2px;
}

.dp__conatiner {
    color: #007600!important;
    font-weight: 700;
}

span.d__conatiner {
    display: flex;
    font-size: 14px;
}

span.h__container {
    font-weight: 700;
    font-size: 14px;
}

.checked {
    color: orange;
}

h1.he__contain {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 5px;
}

span.platform__container {
    display: flex;
}

span.raiting__container {
    display: flex;
    align-items: center;
}

.stars__contain {
    margin-right: 20px;
}

span.amazon__choice__container {
    margin: 5px 0 10px;
    display: flex;
}

span.choice__container {
    height: 22px;
    background-color: #232F3E;
    border-color: #232F3E;
    display: flex;
    width: 130px;
}

span.amazon__contain {
    line-height: 22px;
    margin-left: 8px;
    margin-right: 3px;
    color: #fff;
    font-family: "Amazon Ember",Arial!important;
    min-width: 36px;
}

span.choice__container1 {
    line-height: 22px;
    margin-right: 8px;
    color: #F69931;
    font-family: "Amazon Ember",Arial!important;
    min-width: 24px;
}

span.choice__triangle__container {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 22px solid;
    color: #232F3E;
}

td.price__label__content {
    color: #565959!important;
}

span.arrival__date__container {
    color: #565959!important;
    line-height: 28px;
    display: block;
}

.product__colors__list__contain {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}

li.picture__contain {
    margin: 5px;
}

span.color__label {
    color: #565959!important;
}

span.color__label__contain {
    line-height: 28px;
    display: block;
}

span.shipper__container {
    line-height: 28px;
    display: block;
}

.main__leftcol__container {
    display: flex;
    margin-bottom: 22px;
}

.a__left__imgs__contain {
    width: 58px;
}

ul.a__left__imgs__list {
    list-style: none;
    padding: 0;
    margin-top: 48px;
}

li.a__left__imgs {
    margin-bottom: 8px;
}

.a__left__border__imgs:hover {
    border-color: #e77600;
    outline: none;
}

.a__left__border__imgs {
    width: 70%;
    height: auto;
    overflow: visible;
    border-color: #a2a6ac;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}

.a__right__img__contain {
    width: 320px;
    padding-left: 3.5%;
    text-align: center;
    display: block;
}

.a__right__img {
    width: 100%;
    margin-bottom: 10px;
    display: table;
}

.a__image__right {
    contain: content;
    max-height: 700px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 90px 0;
}

img.right__aimg {
    width: 100%;
}

h2.main__heading {
    color: #C60!important;
    font-size: 16px!important;
    font-weight: 700;
    font-family: verdana,arial,helvetica,sans-serif!important;
}

p.main__sponsor {
    font-size: 11px;
}

a.sponsor__link {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.brand__related__cards {
    padding: 10px 40px;
}

ul.brands__cards {
    list-style: none;
    padding: 0;
    display: flex;
}

li.brand__card {
    width: 552.5px;
    margin-right: 10px;
    border: 1px solid;
    border-color: #cacaca;
    border-radius: 3px;
    cursor: pointer;
}

.brand____container {
    display: flex;
}

.main__brand__image {
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}

.camuta {
    max-width: 135px;
    max-height: 135px;
}

.main__brand__info {
    align-self: center;
    margin-left: 10px;
}

span.brand__logo {
    display: block;
}

span.brand__product__desc {
    display: block;
    line-height: 44px;
}

.related__products__items {
    list-style: none;
    display: flex;
    justify-content: center;
}

li.product__list__related {
    cursor: pointer;
    width: 160px;
    margin-left: 37px;
}

.multiple__container {
    padding: 20px;
    align-items: center;
    display: flex;
}

span.multiple__info {
    margin-left: 10px;
}

.article__video {
    width: 100%;
    height: 500px;
    background: #000;
}

span.second__container__info {
    display: flex;
    width: 100%;
}

.content__ {
    width: 50%;
    padding: 80px;
    align-self: center;
}

h3.content__heading3 {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: 700;
}

h1.content__heading1 {
    font-size: 32px;
    line-height: 1.2rem;
    font-weight: 700;
}

p.content__para {
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: 300;
    margin: 0 0 14px 0;
}

.video__ {
    width: 50%;
}

.video__main {
    width: 92%;
    height: 430px;
    background-color: #000;
}
.productdesc__ {
    padding: 20px;
}

span.desc__color {
    display: block;
    font-size: small;
    color: #333333;
    margin-bottom: 10px;
}

span.desc__main {
    display: block;
    font-size: small;
    color: #333333;
    margin-bottom: 10px;
}

span.desc__llists {
    display: flex;
    font-size: small;
    color: #333333;
}

ul.desl__list__items {
    list-style: none;
    padding-left: 20px;
}

.product__table {
    margin-left: 12px;
    width: 50%;
    margin-right: 2%;
}

table.main__table {
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
}

th.table_head {
    border-top: 1px solid #e7e7e7;
    font-weight: 400;
    color: #565959!important;
    background-color: #f3f3f3;
    width: 50%;
    padding: 5px;
    text-align-last: left;
}

td.tabe__body {
    border-top: 1px solid #e7e7e7;
    font-weight: 400;
    color: #565959!important;
    width: 50%;
    padding: 5px;
    align-items: center;
}

.f-5 {
    font-weight: 500;
}

.video__frame__container:before {
    content: "";
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/vse/Discovery/vse_play_icon_2x.png);
    display: inline-block;
    width: 46px;
    height: 46px;
    position: absolute;
    background-size: 100%;
    margin: 45px 100px;
}

.product__list__related1:hover {
    text-decoration: none;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
}

.product__list__related1:hover .card_hover {
    display: block;
}

.product__list__related1:hover .video__frame__container:before {
    display: none;
}

.product__list__related1 {
    cursor: pointer;
    width: 248px;
    margin-left: 37px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
}

.video__frame__container {
    width: 100%;
}

p.video__duration {
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c0000000', endColorstr='#c0000000');
    padding: 4px 6px 3px;
    border-radius: 0 8px 0 0;
    font-size: 14px;
    line-height: 1.2em;
    margin-top: -24px;
}

p.card_hover {
    position: absolute;
    display: none;
    padding-top: 120px;
    color: #fff;
    margin-top: -141px;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.6));
    width: 247px;
    text-align: center;
}

a.video__url__frame {
    text-decoration: none;
}

.video__credentials__container {
    display: inline-block;
    width: 100%;
    padding: 4px 7px 10px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

h4.video__title {
    color: #111;
    overflow: hidden;
    max-height: 3em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: -o-ellipsis-lastline;
    height: 3em;
    position: relative;
    text-decoration: inherit;
    font-size: 14px;
    line-height: 1.21em;
}

span.video__uploader {
    display: inline-block;
    width: 100%;
    float: left;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    display: inline-block;
    font-size: 13px;
    line-height: 1.46em;
}

span.life__quote {
    font-size: 21px;
    line-height: 27px;
    color: #333;
    font-style: italic;
    min-width: 0;
    word-break: break-word;
    font-weight: normal;
}

.life__ {
    text-align: center;
    margin-top: -20px;
    min-width: 0;
}