.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main__body__section {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.sub-header {
  height: 39px;
  display: flex;
  align-items: center;
  background-color: #232f3e;
  z-index: 99;
}

.left-header-side {
  width: 300px;
}

.center-header-side {
  width: 100%;
}

.right-header-side {
  width: 450px;
}

.buyer-location {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 1px 2px 1px 2px;
  width: 110px;
}

.buyer-location:hover {
  border: 1px solid #fff;
  width: 110px;
  cursor: pointer;
  padding: 1px 1px 1px 1px;
}

.obj-menu {
  color: #fff;
  margin: 5px 1px 6px 0;
  padding: 4px 9px 4px 9px;
  font-size: 14px;
  text-decoration: none;
}

.amz-covid {
  font-weight: 600;
}

.obj-menu:hover {
  border: 1px solid #fff;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.location-of-user {
  margin-left: 5px;
  line-height: 15px;
}

.deliver {
  color: white;
  font-size: 11px;
}

.deliver-to {
  color: white;
  font-size: 12px;
  font-weight: 800;
}

#geo-marker {
  color: White;
  width: 25px;
  height: 20px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 5px;
  padding: 10px 10px 0 5px;
}

.right__gap {
  margin-right: 5px;
}
.top__gap {
  margin-top: 1px;
}
.left__gap {
  margin-left: 1px;
}
.bottom__gap {
  margin-bottom: 1px;
}

.header-menu-button {
  border: 1px solid #5a5a5a;
  margin: auto -5px auto 10px;
  padding: 8px 8px 5px 8px;
}

.header-menu-button:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}

.header__logo:hover {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px 9px 0 4px;
}

.header__option:hover {
  cursor: pointer;
  border: 1px solid white;
  padding: 9px 4px 9px 4px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 40px;
  font-size: 15px;
  padding: 5px 15px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 7px;
  font-size: 21px !important;
  text-align: center;
  height: 40px !important;
  background-color: #febd69;
  border-radius: 0 10px 10px 0;
  width: 50px;
}

.header__searchIcon:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #f3a847;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 5px 10px 5px;
}

.header__optionBasket:hover {
  cursor: pointer;
  border: 1px solid white;
  padding: 9px 4px 9px 4px;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px 5px 10px 5px;
}

.margin__right {
  margin-right: 10px;
}

.margin__left {
  margin-left: 10px;
}



* {
  margin: 0;
}

body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.product {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product__rating {
  display: flex;
}

.product > img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin-bottom: 10px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  display: block;
  font-size: 13px;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.product > button:hover {
  background: linear-gradient(to bottom,#f5d17f,#f3ba29);
}

.product__price {
  margin-top: 5px;
}

.product__info {
  margin-bottom: 15px;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.y__menu {
  color: #000;
  display: flex;
}

.y__title {
  font-size: 14px;
  font-weight: 700;
}

.y__content {
  width: 48%;
  padding: 10px;
}

.footer__kindle {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
}

.empty {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dedede;
}

span.y__text {
  display: block;
  font-size: 12px;
  color: #444;
  font-weight: 400;
  white-space: normal;
  line-height: 1.95;
}

span.y__text:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}


.card-heading {
  font-family: Arial,sans-serif;
  font-size: 21px!important;
  line-height: 27.3px!important;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.card-shop-link {
  text-decoration: none;
  color: #007185;
  font-size: 12px;
}

.columns-container {
  height: 310px;
  padding-top: 10px;
}

.first-one {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.first-product {
  width: 50%;
  text-align-last: center;
}

.second-product {
  width: 50%;
  text-align-last: center;
}

.image-container {
  height: 85px;
}

.label-container {
  font-size: 13px;
}

.card-shop-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}

.main__label {
  color: #B12704!important;
}

.w3-animate-left {
  animation: animateleft 0.8s !important;
}

.bg-mana {
  z-index: 990;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}

.bg-mana__dropdown {
  z-index: 5;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.drop_maintext {
  display: block;
    font-size: 13px;
    color: #444;
    font-weight: 400;
    white-space: normal;
}

.products_list_bar {
  background-color: #fff;
  margin: 20px 15px;
  padding: 20px;
}

h2.x__product__title {
  color: #444 !important;
  line-height: 1.5 !important;
  margin: 0;
  font-weight: 400;
  font-family: Arial,sans-serif;
  font-size: 21px;
}

.x__product_labels {
  display: flex;
  align-items: center;
}

a.x__product__morelink {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
  padding-left: 15px;
}

.x__products_items {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 7px;
}

.x__products_items:hover {
    overflow: auto!important;
    padding-bottom: 0;
}

li.x__items {
  text-align: center;
  position: relative;
  display: inline-table;
  min-width: 145px;
  margin-right: 10px;
  list-style: none;
}


img.x__items__lists {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  vertical-align: middle;
}

a.x__product__morelink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}

footer a {
  color: #fff;
}

footer .top {
  background: #37475a;
}

footer .top a {
  padding: 17px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

footer .top a:hover {
  color: #fff;
}

footer .top:hover {
  background: #485769;
}

footer .center {
  margin: 0 auto;
  max-width: 1080px;
}

footer ul {
  margin: 30px 40px 30px 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

footer .middle {
  background: #232f3e;
}

footer .middle h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
}

footer .middle li {
  position: relative;
}

footer .middle .logo {
  background: transparent url('../img/logo.png') no-repeat 0 0;
  background-size: 76px;
  width: 76px;
  height: 23px;
  display: block;
  border: none !important;
  margin-right: 60px;
  position: absolute;
  top: -14px;
  left: -120px;
}

footer .middle a {
  color: #ddd;
  font-size: 13px;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}

footer .middle a:hover {
    text-decoration: underline;
}

footer ul.copy {
  display: inline-block;
  width: 100%;
}

footer ul.copy li {
  display: inline-block;
  margin-right: 4px;
  color: #999;
  font-size: 11px;
}

footer .middle .copy {
  border-top: 1px solid #3a4553;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

footer .middle .copy a {
  padding: 7px 30px 7px 10px;
  color: #ccc;
  border: 1px solid #848688;
  border-radius: 3px;
  text-decoration: none;
}

footer .middle .copy a:hover {
  text-decoration: none;
  border-color: #8D9096;
}

footer .middle .fa-globe {
  margin-right: 5px;
}

footer .middle .fa-dollar {
  margin-right: 5px;
}

footer .middle .fa-caret-down {
  margin-right: 5px;
  margin-left: 15px;
}

footer .middle .flag-icon-us {
  background-image: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/images/flags/us.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1em;
  width: 1.33333333em;
  margin-right: 7px;
  background-position: 0 2px;
}

footer .bottom {
  background: #131a22;
}

footer .bottom ul {
  margin-right: 0;
}

footer .bottom .other_brands {
  width: 140px;
  line-height: 1;
}

footer .bottom li {
  height: 80px;
}

footer .bottom a {
  color: #ddd;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
  text-align: center;
}


footer .bottom a:hover {
  text-decoration: underline;
}

footer .bottom a span {
  color: #999;
  font-size: 10px;
}
